[Desktop Entry]
Version=1.0
Name=NVIDIA Nsight
GenericName=NVIDIA Nsight IDE
Comment=Develop CUDA applications
Exec=nsight
Icon=nsight
Terminal=false
Type=Application
Categories=GNOME;GTK;Development;
StartupNotify=true
